<div class="container-fluid text-center background-component">
        <div class="mb-3 vcenter-component vcenter-display">
          <h1 class="display-4 title">Restore password</h1>
        <form #passwordRecoveryForm="ngForm" class="vcenter-display">
            <div [hidden]="!linkExpired" class="custom-alert alert-danger row">
                    Link for restore password is expired!
            </div> 

            <div class="row">
                <div class="form-group">
                    <label for="password">Enter your new password</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required #password="ngModel" 
                    minlength="8" appValidateEqual="confirmPassword" appReverse="true" placeholder="Enter password"/> 
                    <div [hidden]="password.valid || (password.pristine && !passwordRecoveryForm.submitted)" class="custom-alert alert-danger">
                        The minimum length of the password is 8 characters! 
                    </div> 
                </div>
            </div>

        <div class="row">
            <div class="form-group">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="user.confirmPassword" 
                    required appValidateEqual="password" appReverse="false" #confirmPassword="ngModel" placeholder="Confirm passwod"/> 
                <div [hidden]="confirmPassword.valid || (confirmPassword.pristine && !passwordRecoveryForm.submitted)" class="custom-alert alert-danger">
                    Passwords mismatch!
                </div> 
            </div>   
        </div> 

            <div class="form-group row">
                <button type="submit" class="btn btn-success mr-2 col" (click)="changePassword(passwordRecoveryForm.valid)">Save</button>
                <a routerLink="/main" class="btn btn-outline-secondary" style="float: right">Back to the main page</a>
            </div>
        </form>
    </div>
</div>
