<div class="container-fluid text-center background-component">
  <div class="mb-3 vcenter-component vcenter-display">
    <h1 class="display-4 title">Restore password</h1>
    <form #restorePasswordEmailForm="ngForm" class="vcenter-display">
      <div class="row">
        <div class="form-group ">
          <label>Enter your e-mail</label>
          <input class="form-control" type="email" id="email" name="email" [(ngModel)]="userEmail.email" #email="ngModel" required
                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" placeholder="Enter email address" (ngModelChange)="emailChange($event)" />
          <div [hidden]="email.valid || (email.pristine && !restorePasswordEmailForm.submitted)" class="custom-alert alert-danger">
            E-mail isn't valid!
          </div>
          <div [hidden]="!emailNotFound" class="custom-alert alert-danger">
            E-mail is not found.
          </div>
        </div>
      </div>

        <div class="form-group row">
          <button type="submit" class="btn btn-success mr-2 col" (click)="getEmail(restorePasswordEmailForm.valid)">OK</button>
          <a routerLink="/main" class="btn btn-outline-success col" style="float: right">Back to the main page</a>
        </div>
     
    </form>
  </div>
</div>
