<div class="background_img page-background">
    <div class="row custom-row">
        <div class="col-6">
            <h1 class="display-4">Dear Candidate!</h1>
            <p class="lead">You have an opportunity to test your programming skills with the help of this site.
                <br>Please sign up to have an access to your dashboard.
                <br>If you already have an account please sign in.</p>
            <a class="btn btn-outline-dark btn-lg" routerLink="/login" role="button">Learn more</a>
        </div>
    </div>
</div>
