<div class="background_img page-background">
    <div class="row custom-row">
        <div class="col-6">
            <h1 class="display-4">Дорогой студент!</h1>
            <p class="lead">На этом сайте у тебя есть возможность протестировать свои умения в программировании и приобрести новые навыки в интересующей тебя области. 
                Для использования доступа ко всем возможностям сайта тебе необходимо войти, но если ты здесь впервые, то можешь зарегистрироваться и начинать. Желаем удачи! </p>
            <a class="btn btn-outline-dark btn-lg" routerLink="/login" role="button">Узнать больше</a>
        </div>
    </div>
</div>
