<div class="container">
  <h1 class="display-4 title">Exercise manager</h1>
  <div *ngIf="exercise">
    <div class="row">
      <div class="input-group mb-3 col-8">
        <div class="input-group-prepend">
          <span class="input-group-text">Task name</span>
        </div>
        <input [(ngModel)]="exercise.name" id="name" name="name" #name="ngModel" type="text" class="form-control" aria-describedby="basic-addon1"
          required>
      </div>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger col-auto">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-8">
        <div class="input-group-prepend">
          <span class="input-group-text">Subject</span>
        </div>
        <input [(ngModel)]="exercise.subject" id="subject" name="subject" #subject="ngModel" type="text" class="form-control" aria-describedby="basic-addon1"
          required>
      </div>
      <div *ngIf="subject.invalid && (subject.dirty || subject.touched)" class="alert alert-danger col-auto">
        <div *ngIf="subject.errors.required">
          Subject is required.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-8">
        <div class="input-group-prepend">
          <span class="input-group-text">Description</span>
        </div>
        <textarea [(ngModel)]="exercise.description" id="description" name="description" #description="ngModel" class="form-control"
          aria-label="With textarea" required></textarea>
      </div>
      <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger col-auto">
        <div *ngIf="description.errors.required">
          Description is required.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-8">
        <div class="input-group-prepend">
          <span class="input-group-text">Hints
            <br>(Each hint starts from a new line)</span>
        </div>
        <textarea [(ngModel)]="exercise.tips" id="tips" name="tips" #tips="ngModel" class="form-control" aria-describedby="basic-addon1"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="input-group mb-3 form-group col-8">
        <div class="input-group-prepend">
          <span class="input-group-text">Maximum score</span>
        </div>
        <input type="number" [(ngModel)]="exercise.maximumScore" id="maximumScore" name="maximumScore" #maximumScore="ngModel" class="form-control"
          aria-describedby="basic-addon1" required min="0">
      </div>
      <div *ngIf="maximumScore.invalid && (maximumScore.dirty || maximumScore.touched)" class="alert alert-danger col-auto">
        <div *ngIf="maximumScore.errors.required">
          MaximumScore is required.
        </div>
      </div>
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" id="enableTime" name="enableTime" [(ngModel)]="enableTime" class="form-check-input" aria-describedby="basic-addon1">
      <label class="form-check-label" for="enableTime">Set timer</label>
    </div>

    <div *ngIf="enableTime" class="row">
      <div class="input-group mb-3 form-group col-8">
        <div class="input-group-prepend">
          <span class="input-group-text">Task time</span>
        </div>
        <input type="number" [(ngModel)]="exercise.timeSeconds" id="timeSeconds" name="timeSeconds" #timeSeconds="ngModel" class="form-control"
          aria-describedby="basic-addon1" required min="5">
      </div>
      <div *ngIf="timeSeconds.invalid && (timeSeconds.dirty || timeSeconds.touched)" class="alert alert-danger col-auto">
        <div *ngIf="timeSeconds.errors.required">
          Time is required.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-8">
        <div class="input-group-prepend">
          <span class="input-group-text">Code template</span>
        </div>
        <textarea [(ngModel)]="exercise.codeTemplate" id="codeTemplate" name="codeTemplate" #codeTemplate="ngModel" class="form-control"
          aria-label="With textarea" required></textarea>
      </div>
      <div *ngIf="codeTemplate.invalid && (codeTemplate.dirty || codeTemplate.touched)" class="alert alert-danger col-auto">
        <div *ngIf="codeTemplate.errors.required">
          CodeTemplate is required.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-8">
        <div class="input-group-prepend">
          <label class="input-group-text">Test assembly name</label>
        </div>
        <select [(ngModel)]="exercise.assemblyName" #assemblyName class="custom-select" (change)="onSelectAssemblyName($event)">
          <option disabled selected hidden [value]="exercise.assemblyName">{{exercise.assemblyName}}</option>
          <option *ngFor="let assembly of assemblies">{{assembly.assemblyName}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-8">
        <div class="input-group-prepend">
          <label class="input-group-text">Test class name</label>
        </div>
        <select [(ngModel)]="exercise.testClassName" [disabled]="isClassNameDisabled" #testClassName class="custom-select" (change)="onSelectClassName($event)">
          <option disabled selected hidden [value]="exercise.testClassName">{{exercise.testClassName}}</option>
          <option *ngFor="let class of currentAssembly.testClassesElements">{{class.name}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-8">
        <div class="input-group-prepend">
          <label class="input-group-text">Test method name</label>
        </div>
        <select [(ngModel)]="exercise.testMethodName" [disabled]="isMethodNameDisabled" #testMethodName class="custom-select">
          <option disabled selected hidden [value]="exercise.testMethodName">{{exercise.testMethodName}}</option>
          <option *ngFor="let method of currentClassElement.methodsNames">{{method}}</option>
        </select>
      </div>
    </div>
    <div>
      <button *ngIf="this.currentPath=='/exerciseManagement/create'" [disabled]="isButtonDisabled" (click)="addNewExercise(codeTemplate.value, assemblyName.value, testClassName.value, testMethodName.value, tips.value, id=1, name.value, subject.value, description.value, maximumScore.value)" type="button" class="btn btn-success mb-4">Create</button> 
      <button *ngIf="this.currentPath=='/exerciseManagement/edit/'+this.id" (click)="save(tips.value)" type="button" class="btn btn-success mb-4">Save</button>
      <button routerLink="/exerciseManagement" class="btn btn-outline-secondary mb-4">Back to exercise list</button>
    </div>
  </div>
</div>