<div class="container-fluid text-center background-component">
    <div *ngIf="showRegistrationForm" class="row mb-3 align-items-center vcenter-component vcenter-display">
        <h1 class="display-4 title">Регистрация</h1>
        <form #registerForm="ngForm">
            <div [hidden]="!invalidData" class="custom-alert alert-danger">
                Данные не прошли валидию.
            </div> 

            <div class="form-group">
                <label>Имя</label>
                <input class="form-control" type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel"
                    minlength="2"  required placeholder="Иван" />
                <div [hidden]="firstName.valid || (firstName.pristine && !registerForm.submitted) " class="alert-danger custom-alert">
                    Недопустимое имя
                </div> 
            </div>


            <div class="form-group">
                <label>Фамилия</label>
                <input class="form-control" type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel"
                    minlength="2"  required placeholder="Иванов" />    
                <div [hidden]="lastName.valid || (lastName.pristine && !registerForm.submitted)" class="custom-alert alert-danger">
                    Недопустимая фамилия
                </div> 
            </div>

            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" [disabled]="emailDisabled"
                    required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" placeholder="ivan_ivanov@test.com" (ngModelChange)="emailChange($event)"/>    
                <div [hidden]="email.valid || emailDisabled || (email.pristine && !registerForm.submitted)" class="custom-alert alert-danger">
                    неверный Email 
                </div> 
                <div [hidden]="!emailExists" class="custom-alert alert-danger">
                    пользователь с таким Email уже существует
                </div> 
            </div>

            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required appValidateEqual="confirmPassword" 
                    appReverse="true" #password="ngModel" minlength="8" placeholder="********" />
                <div [hidden]="password.valid || (password.pristine && !registerForm.submitted)" class="custom-alert alert-danger custom-alert">
                    Пароль должен содержать не менее 8 символов.
                </div>
            </div>
            
            <div class="form-group">
                <label for="confirmPassword">Подтверждение пароля</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="user.confirmPassword" 
                    required appValidateEqual="password" appReverse="false" #confirmPassword="ngModel" placeholder="********" /> 
                <div [hidden]="confirmPassword.valid || (confirmPassword.pristine && !registerForm.submitted)" class="custom-alert alert-danger">
                    Пароли не совпадают
                </div> 
            </div>

            <div class="form-groups mt-2">
                <button style="width: 45%; float: left;" type="submit" class="btn btn-success" (click)="addUser(registerForm.valid && !emailExists)">ОК</button>
                <a routerLink="/main" class="btn btn-outline-success " style="float: right">Вернутся на главную</a>
            </div>
        </form>
    </div>
</div>
