.confirm-title {
    padding-top: 8%; 
}

.confirm-text {
    margin-left: 10%;
}

.secondary-green-btn {
    color: #28A745;
    border-color: #28A745;
    
}

.secondary-green-btn:hover {
    color: white;
    background-color: #28A745;
}

