<h1 class="display-4 title text-center">Успеваемость</h1>
<div class="container">
  <div id="lastNameSearch" class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text">Искать по фамилии:</label>
      </div>
      <input class="form-control"
              placeholder="Иванов"
              type="text"
              id="lastName"
              name="lastName"
              (input)="startSearch($event.target.value)" />
  </div>
  <div id="itemsAmount" class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text">Элементов на странице</label>
    </div>
    <select #amount class="custom-select" (change)="onSelectAmount($event)">
      <option>15</option>
      <option>20</option>
      <option selected>25</option>
      <option>30</option>
      <option>40</option>
      <option>50</option>
    </select>
  </div>
  <div class="candidates">
    <table class="table table-hove text-center">
      <thead class="thead-light">
        <tr>
          <th class="clickable" (click)="setOrder('firstName')">Имя</th>
          <th class="clickable" (click)="setOrder('lastName')">Фамилия</th>
          <th class="clickable" (click)="setOrder('score')">Прогресс</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of pagedItems; let i = index" routerLink="/exercises/results/{{candidate.id}}" class="clickable">
          <td>{{candidate.firstName}}</td>
          <td>{{candidate.lastName}}</td>
          <td>{{candidate.score + '/' + candidate.maximumScore}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="pagination" *ngIf="pager.pages && pager.pages.length" class="text-center">
    <div class="btn-group">
      <button type="button" [ngClass]="{disabled:pager.currentPage === 1}" class="btn btn-secondary"
        (click)="!(pager.currentPage === 1) && setPage(1)">
        Первая
      </button>
      <button type="button" [ngClass]="{disabled:pager.currentPage === 1}" class="btn btn-secondary"
        (click)="!(pager.currentPage === 1) && setPage(pager.currentPage - 1)">
        Предыдущая
      </button>
      <button *ngFor="let page of pager.pages" type="button" [ngClass]="{active:pager.currentPage === page}" class="btn btn-secondary"
        (click)="setPage(page)">
        {{page}}
      </button>
      <button type="button" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="btn btn-secondary"
        (click)="!(pager.currentPage === pager.totalPages) && setPage(pager.currentPage + 1)">
        Слудующая
      </button>
      <button type="button" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="btn btn-secondary"
        (click)="!(pager.currentPage === pager.totalPages) && setPage(pager.totalPages)">
        Последняя
      </button>
    </div>
  </div>
</div>